body {
    background-color: #363237;
}

.d {
    padding: 20px; 
    padding-bottom: 30px;
    margin: 20px auto; 
    width: 50%;
    border-radius: 10px;
    background-color: #2d4262;
    box-shadow: 0 0 15px #d09683;
    border-color: #73605b;
}

select {
    border: none;
    border-color: #2d4262;
    border-radius: 5px;
    border-width: 10px;
    width: 25%;
    padding: 5px;
    color: #d09683;
    background-color: #73605b;
}