<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controll Your PC</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css" integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/theme-0.css" id="theme">
    <script>
        function getCurrentTheme() {
            let currentCookie = document.cookie;
            if (currentCookie == "" || currentCookie == null) { currentCookie="theme=0"; return 0; }
            let currentTheme = parseInt(document.cookie.replace(/(?:(?:^|.*;\s*)theme\s*\=\s*([^;]*).*$)|^.*$/, "$1"));
            if (currentTheme > 4) { currentCookie="theme=0"; return 0; }
            return currentTheme;
        }
        let firstCurrentTheme = getCurrentTheme();
        let theme = document.getElementById("theme");
        theme.href="/static/theme-"+firstCurrentTheme+".css";
    </script>
</head>
<body style="text-align: center;">

    <h1>Home Page 'Controll Your PC' project</h1>
    {%if (level_of_controll >= 0)%}
    <div class="d">
        <h2>Volume control:</h2> <!-- level of controll 0-->
        <form class="pure-form" action="" method="GET">
            <input type="range" min="0" max="100" value="{{current_volume}}" class="slider" id="volumes" name="volume">
            <span id="volumep">Volume: {{current_volume}}%</span>
            <button type="submit" class="pure-button pure-button-primary" id="buttoms">Send</button>
        </form>
    </div>
    {%endif%}
    {%if (level_of_controll >= 1)%}
    <div class="d pure-div">
        <h2>Keyboard contol(Youtube and other):</h2> <!-- level of controll 1-->
        <a href='/?control=space' class="pure-button pure-button-primary">Space</a>
        <a href='/?control=backspace' class="pure-button pure-button-primary">Backspace</a>
        <br>
        <a href='/?control=left' class="pure-button pure-button-primary">Left</a>
        <a href='/?control=right' class="pure-button pure-button-primary">Right</a>
        <br>
        <a href='/?control=up' class="pure-button pure-button-primary">Up</a>
        <a href='/?control=down' class="pure-button pure-button-primary">Down</a>
        <br>
        <a href='/?control=f' class="pure-button pure-button-primary">F</a> <!--???-->
        <a href='/?control=enter' class="pure-button pure-button-primary">Enter</a>
    </div>
    {%endif%}
    {%if (level_of_controll >= 3)%}
    <div class="d">
        <h2>Mouse contol:</h2> <!-- level of controll 3-->
        <a href='/?mouse=up' class="pure-button pure-button-primary">Mouse Up({{mouse_speed}}px)</a>
        <a href='/?mouse=down' class="pure-button pure-button-primary">Mouse Down({{mouse_speed}}px)</a>
        <br>
        <a href='/?mouse=left' class="pure-button pure-button-primary">Mouse Left({{mouse_speed}}px)</a>
        <a href='/?mouse=right' class="pure-button pure-button-primary">Mouse Right({{mouse_speed}}px)</a>
        <br>
        <a href='/?mouse=click' class="pure-button pure-button-primary">Mouse Click</a>
    </div>
    {%endif%}
    {%if (level_of_controll >= 2)%}
    <div class="d">
        <h2>Keyboard contol(Put text):</h2> <!-- level of controll 2-->
        <form class="pure-form" action="" method="GET">
            <input type="text" name="text_to_put" placeholder="Put text here">
            <button type="submit" class="pure-button pure-button-primary" id="buttoms">Send</button>
        </form>
    </div>
    {%endif%}

    <button id="themeb" class="pure-button">Change Theme</button>

    <script>
        let volumes = document.getElementById("volumes");
        let volumep = document.getElementById("volumep");
        let buttoms = document.getElementById("buttoms");
        let themeb = document.getElementById("themeb");
        //volumep.innerHTML="Volume: "+volumes.value+"%";

        volumes.oninput = function () {
            volumep.innerHTML="Volume: "+this.value+"%";
            if (this.value <= 20)
                buttoms.style.backgroundColor="rgb(28, 184, 65)";
            else if (this.value > 20 && this.value <=50)
                buttoms.style.backgroundColor="rgb(223, 117, 20)";
            else if (this.value > 50 && this.value <=80)
                buttoms.style.backgroundColor="rgb(202, 60, 60)";
            else
                buttoms.style.backgroundColor="rgb(66, 184, 221)";
        };

        themeb.onclick = function () {
            let currentTheme = getCurrentTheme();
            let theme = document.getElementById("theme");
            let NewTheme = currentTheme+1;
            theme.href="/static/theme-"+NewTheme+".css";
            console.log(theme.href, NewTheme);
            document.cookie="theme="+NewTheme
        }
    </script>
</body>
</html>