<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controll Your PC</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css" integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/theme-0.css" id="theme">
    <script>
        let maxTheme = 5;
        function getCurrentTheme() {
            let currentCookie = document.cookie;
            if (currentCookie == "" || currentCookie == null) { currentCookie="theme=0"; return 0; }
            let currentTheme = parseInt(document.cookie.replace(/(?:(?:^|.*;\s*)theme\s*\=\s*([^;]*).*$)|^.*$/, "$1"));
            if (currentTheme > maxTheme) { currentCookie="theme=0"; return 0; }
            return currentTheme;
        }
        let firstCurrentTheme = getCurrentTheme();
        let theme = document.getElementById("theme");
        theme.href="/static/theme-"+firstCurrentTheme+".css";
    </script>
</head>
<body style="text-align: center;">

    <h1>{{translate.homeP}}</h1>
    {%if (level_of_controll >= 0)%}
    <div class="d">
        <h2>{{translate.volumeC}}</h2> <!-- level of controll 0-->
        <form class="pure-form" action="" method="GET">
            <input type="range" min="0" max="100" value="{{current_volume}}" class="slider" id="volumes" name="volume">
            <span id="volumep">{{translate.volume}}{{current_volume}}%</span>
            <button type="submit" class="pure-button pure-button-primary button" id="buttoms">{{translate.volume_send}}</button>
        </form>
    </div>
    {%endif%}
    {%if (level_of_controll >= 1)%}
    <div class="d pure-div">
        <h2>{{translate.keyboardC}}</h2> <!-- level of controll 1-->
        <a href='/?control=space' class="pure-button pure-button-primary button">{{translate.kSpace}}</a>
        <a href='/?control=backspace' class="pure-button pure-button-primary button">{{translate.kBackspace}}</a>
        <br>
        <a href='/?control=left' class="pure-button pure-button-primary button">{{translate.kLeft}}</a>
        <a href='/?control=right' class="pure-button pure-button-primary button">{{translate.kRight}}</a>
        <br>
        <a href='/?control=up' class="pure-button pure-button-primary button">{{translate.kUp}}</a>
        <a href='/?control=down' class="pure-button pure-button-primary button">{{translate.kDown}}</a>
        <br>
        <a href='/?control=f' class="pure-button pure-button-primary button">{{translate.kF}}</a> <!--???-->
        <a href='/?control=enter' class="pure-button pure-button-primary button">{{translate.kEnter}}</a>
    </div>
    {%endif%}
    {%if (level_of_controll >= 3)%}
    <div class="d">
        <h2>{{translate.mouseC}}</h2> <!-- level of controll 3-->
        <a href='/?mouse=up' class="pure-button pure-button-primary button">{{translate.mUp}}({{mouse_speed}}px)</a>
        <a href='/?mouse=down' class="pure-button pure-button-primary button">{{translate.mDown}}({{mouse_speed}}px)</a>
        <br>
        <a href='/?mouse=left' class="pure-button pure-button-primary button">{{translate.mLeft}}({{mouse_speed}}px)</a>
        <a href='/?mouse=right' class="pure-button pure-button-primary button">{{translate.mRight}}({{mouse_speed}}px)</a>
        <br>
        <a href='/?mouse=click' class="pure-button pure-button-primary button">{{translate.mClick}}</a>
    </div>
    {%endif%}
    {%if (level_of_controll >= 2)%}
    <div class="d">
        <h2>{{translate.keyboardC_P}}</h2> <!-- level of controll 2-->
        <form class="pure-form" action="" method="GET">
            <input type="text" name="text_to_put" placeholder="{{translate.keyboardC_P_input}}">
            <button type="submit" class="pure-button pure-button-primary button" id="buttoms">{{translate.keyboardC_P_send}}</button>
        </form>
    </div>
    {%endif%}
    <div class="d">
        <h2>{{translate.change_theme}}</h2>
        <select id="themes">
            <option value="0">{{translate.theme_option_0}}</option>
            <option value="1">{{translate.theme_option_1}}</option>
            <option value="2">{{translate.theme_option_2}}</option>
            <option value="3">{{translate.theme_option_3}}</option>
            <option value="4">{{translate.theme_option_4}}</option>
            <option value="5">{{translate.theme_option_5}}</option>
        </select>
    </div>

    <script>
        let volumes = document.getElementById("volumes");
        let volumep = document.getElementById("volumep");
        let buttoms = document.getElementById("buttoms");
        let themes = document.getElementById("themes");
        //volumep.innerHTML="Volume: "+volumes.value+"%";

        volumes.oninput = function () {
            volumep.innerHTML="Volume: "+this.value+"%";
            if (this.value <= 20)
                buttoms.style.backgroundColor="rgb(28, 184, 65)";
            else if (this.value > 20 && this.value <=50)
                buttoms.style.backgroundColor="rgb(223, 117, 20)";
            else if (this.value > 50 && this.value <=80)
                buttoms.style.backgroundColor="rgb(202, 60, 60)";
            else
                buttoms.style.backgroundColor="rgb(66, 184, 221)";
        };

        themes.onchange = function () {
            let currentTheme = getCurrentTheme();
            let theme = document.getElementById("theme");
            let NewTheme = themes.selectedIndex;
            theme.href="/static/theme-"+NewTheme+".css";
            document.cookie="theme="+NewTheme
        }
    </script>
</body>
</html>
